<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
  	</ion-buttons>
    <ion-title>
      Actividades a realizar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let actividad of actividades">
      <ion-item lines="none" class="title">
        <ion-icon slot="end" name="bookmark" style="zoom:1.2;" ></ion-icon>
        <ion-card-title style="font-size: 16px;font-weight: bolder;">{{ actividad.lugaresturisticos.nombre_lugar_turistico }}</ion-card-title>
      </ion-item>
      <ion-item class="position header" lines="none">
        <ion-card-title style="font-size: 14px;font-weight: bolder; color: #7d7d7d;">{{ actividad.nombre_actividad_turistica }}</ion-card-title>
      </ion-item>
      <div style="height:5px;"><br></div>
    </ion-card>
</div>
</ion-content>
