ion-chip {
  border-radius: 10px !important;
 }
 .texto {
  --border-radius: 50px !important;
}
.color{
  color:white !important;
}

.position{
  --background:transparent;
}
.position2{
  --background:transparent;
}
.title{
 height: 40px;
}
.header{
  height: 32px;
  top: -10px;
 }
 .izquierda{
  width: 30px !important;
}