<ion-header>
  <ion-toolbar>
    <ion-title>
      TuristPlan App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
      <ion-card *ngFor="let lugar of lugares">
        <!------Imagen en header--------->
        <img src="https://munies.ml/storage/lugar/{{ lugar.imagen_lugar }}" />
        <!------Cuerpo de la card--------->
        <ion-item lines="none" class="title">
          <ion-icon slot="end" name="bookmark" style="zoom:1.2;" ></ion-icon>
          <ion-card-title style="font-size: 16px;font-weight: bolder;">{{ lugar.nombre_lugar_turistico }}</ion-card-title>
        </ion-item>
        <ion-item class="position header" lines="none">
          <!--<ion-card-title style="font-size: 14px;font-weight: bolder; color: #7d7d7d;">Es uno de los lugares mas
          hermosos de estados unidos</ion-card-title>-->
        </ion-item>
        <ion-item class="position2" lines="none">
          <ion-chip outline color="boton">
            <ion-label (click)="verLugar(lugar)">Ver Lugar</ion-label>
          </ion-chip>
        </ion-item>
        <div style="height:5px;"><br></div>
      </ion-card>
  </div>
</ion-content>
